--
-- PostgreSQL database dump
--

\restrict SMhvl2IecMCUU1W3y6YTgtgD6EMxR6pSt4KMNsfFfupSbWO9c88EVDbXEzpE3WN

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: expenses_approval; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses_approval (
    id bigint NOT NULL,
    status character varying(10) NOT NULL,
    comments text,
    approved_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    approver_id integer NOT NULL,
    expense_record_id bigint NOT NULL
);


ALTER TABLE public.expenses_approval OWNER TO postgres;

--
-- Name: expenses_approval_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.expenses_approval ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.expenses_approval_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: expenses_approvalrule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses_approvalrule (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    min_amount numeric(12,2) NOT NULL,
    max_amount numeric(12,2) NOT NULL,
    is_active boolean NOT NULL,
    approver_id bigint NOT NULL
);


ALTER TABLE public.expenses_approvalrule OWNER TO postgres;

--
-- Name: expenses_approvalrule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.expenses_approvalrule ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.expenses_approvalrule_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: expenses_attachment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses_attachment (
    id bigint NOT NULL,
    file character varying(100) NOT NULL,
    filename character varying(255) NOT NULL,
    content_type character varying(100) NOT NULL,
    size integer NOT NULL,
    email_id bigint NOT NULL,
    expense_record_id bigint,
    file_data bytea,
    CONSTRAINT expenses_attachment_size_check CHECK ((size >= 0))
);


ALTER TABLE public.expenses_attachment OWNER TO postgres;

--
-- Name: expenses_attachment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.expenses_attachment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.expenses_attachment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: expenses_emailmessage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses_emailmessage (
    id bigint NOT NULL,
    message_id character varying(255) NOT NULL,
    from_email character varying(254) NOT NULL,
    subject character varying(500) NOT NULL,
    body text NOT NULL,
    received_at timestamp with time zone NOT NULL,
    raw_payload jsonb,
    employee_id bigint,
    expense_record_id bigint
);


ALTER TABLE public.expenses_emailmessage OWNER TO postgres;

--
-- Name: expenses_emailmessage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.expenses_emailmessage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.expenses_emailmessage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: expenses_employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses_employee (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(254) NOT NULL,
    is_active boolean NOT NULL,
    manager_id bigint,
    user_id integer
);


ALTER TABLE public.expenses_employee OWNER TO postgres;

--
-- Name: expenses_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.expenses_employee ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.expenses_employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: expenses_expenselineitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses_expenselineitem (
    id bigint NOT NULL,
    description character varying(500) NOT NULL,
    date date NOT NULL,
    category character varying(100) NOT NULL,
    amount numeric(12,2) NOT NULL,
    vendor character varying(255) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    attachment_id bigint,
    expense_record_id bigint NOT NULL
);


ALTER TABLE public.expenses_expenselineitem OWNER TO postgres;

--
-- Name: expenses_expenselineitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.expenses_expenselineitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.expenses_expenselineitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: expenses_expenserecord; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.expenses_expenserecord (
    id bigint NOT NULL,
    month date NOT NULL,
    status character varying(20) NOT NULL,
    total_amount numeric(12,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    current_approver_id bigint,
    employee_id bigint NOT NULL
);


ALTER TABLE public.expenses_expenserecord OWNER TO postgres;

--
-- Name: expenses_expenserecord_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.expenses_expenserecord ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.expenses_expenserecord_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	expenses	emailmessage
8	expenses	attachment
9	expenses	employee
10	expenses	approvalrule
11	expenses	expenserecord
12	expenses	expenselineitem
13	expenses	approval
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: expenses_approval; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expenses_approval (id, status, comments, approved_at, created_at, approver_id, expense_record_id) FROM stdin;
\.


--
-- Data for Name: expenses_approvalrule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expenses_approvalrule (id, name, min_amount, max_amount, is_active, approver_id) FROM stdin;
\.


--
-- Data for Name: expenses_attachment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expenses_attachment (id, file, filename, content_type, size, email_id, expense_record_id, file_data) FROM stdin;
1	attachments/20250926_104422.jpg	20250926_104422.jpg	application/octet-stream	131621	5	\N	\N
\.


--
-- Data for Name: expenses_emailmessage; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: expenses_employee; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expenses_employee (id, name, email, is_active, manager_id, user_id) FROM stdin;
1	Rudraksh Kaushik	rudrakshop1402@gmail.com	t	\N	2
2	shaurya	shaurydeep.saxena@bitloom.ai	t	1	4
\.


--
-- Data for Name: expenses_expenselineitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expenses_expenselineitem (id, description, date, category, amount, vendor, created_at, attachment_id, expense_record_id) FROM stdin;
\.


--
-- Data for Name: expenses_expenserecord; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.expenses_expenserecord (id, month, status, total_amount, created_at, updated_at, current_approver_id, employee_id) FROM stdin;
1	2026-03-10	approved	3000.00	2026-03-11 22:20:53.149531+05:30	2026-03-11 22:20:53.149531+05:30	\N	1
2	2026-03-01	draft	0.00	2026-03-12 18:00:51.762044+05:30	2026-03-12 18:00:51.762044+05:30	1	2
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 52, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 4, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 7, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 13, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 21, true);


--
-- Name: expenses_approval_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.expenses_approval_id_seq', 1, false);


--
-- Name: expenses_approvalrule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.expenses_approvalrule_id_seq', 1, false);


--
-- Name: expenses_attachment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.expenses_attachment_id_seq', 1, true);


--
-- Name: expenses_emailmessage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.expenses_emailmessage_id_seq', 5, true);


--
-- Name: expenses_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.expenses_employee_id_seq', 2, true);


--
-- Name: expenses_expenselineitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.expenses_expenselineitem_id_seq', 1, false);


--
-- Name: expenses_expenserecord_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.expenses_expenserecord_id_seq', 2, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: expenses_approval expenses_approval_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_approval
    ADD CONSTRAINT expenses_approval_pkey PRIMARY KEY (id);


--
-- Name: expenses_approvalrule expenses_approvalrule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_approvalrule
    ADD CONSTRAINT expenses_approvalrule_pkey PRIMARY KEY (id);


--
-- Name: expenses_attachment expenses_attachment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_attachment
    ADD CONSTRAINT expenses_attachment_pkey PRIMARY KEY (id);


--
-- Name: expenses_emailmessage expenses_emailmessage_message_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_emailmessage
    ADD CONSTRAINT expenses_emailmessage_message_id_key UNIQUE (message_id);


--
-- Name: expenses_emailmessage expenses_emailmessage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_emailmessage
    ADD CONSTRAINT expenses_emailmessage_pkey PRIMARY KEY (id);


--
-- Name: expenses_employee expenses_employee_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_employee
    ADD CONSTRAINT expenses_employee_email_key UNIQUE (email);


--
-- Name: expenses_employee expenses_employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_employee
    ADD CONSTRAINT expenses_employee_pkey PRIMARY KEY (id);


--
-- Name: expenses_employee expenses_employee_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_employee
    ADD CONSTRAINT expenses_employee_user_id_key UNIQUE (user_id);


--
-- Name: expenses_expenselineitem expenses_expenselineitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_expenselineitem
    ADD CONSTRAINT expenses_expenselineitem_pkey PRIMARY KEY (id);


--
-- Name: expenses_expenserecord expenses_expenserecord_employee_id_month_eca9f28a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_expenserecord
    ADD CONSTRAINT expenses_expenserecord_employee_id_month_eca9f28a_uniq UNIQUE (employee_id, month);


--
-- Name: expenses_expenserecord expenses_expenserecord_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_expenserecord
    ADD CONSTRAINT expenses_expenserecord_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: expenses_approval_approver_id_b11f069e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_approval_approver_id_b11f069e ON public.expenses_approval USING btree (approver_id);


--
-- Name: expenses_approval_expense_record_id_f56ea38c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_approval_expense_record_id_f56ea38c ON public.expenses_approval USING btree (expense_record_id);


--
-- Name: expenses_approvalrule_approver_id_2127e74b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_approvalrule_approver_id_2127e74b ON public.expenses_approvalrule USING btree (approver_id);


--
-- Name: expenses_attachment_email_id_45c0212d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_attachment_email_id_45c0212d ON public.expenses_attachment USING btree (email_id);


--
-- Name: expenses_attachment_expense_record_id_2f9bba6f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_attachment_expense_record_id_2f9bba6f ON public.expenses_attachment USING btree (expense_record_id);


--
-- Name: expenses_emailmessage_employee_id_43f7883c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_emailmessage_employee_id_43f7883c ON public.expenses_emailmessage USING btree (employee_id);


--
-- Name: expenses_emailmessage_expense_record_id_c989bffa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_emailmessage_expense_record_id_c989bffa ON public.expenses_emailmessage USING btree (expense_record_id);


--
-- Name: expenses_emailmessage_message_id_f5a95ada_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_emailmessage_message_id_f5a95ada_like ON public.expenses_emailmessage USING btree (message_id varchar_pattern_ops);


--
-- Name: expenses_employee_email_6698dd50_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_employee_email_6698dd50_like ON public.expenses_employee USING btree (email varchar_pattern_ops);


--
-- Name: expenses_employee_manager_id_dad8cd9f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_employee_manager_id_dad8cd9f ON public.expenses_employee USING btree (manager_id);


--
-- Name: expenses_expenselineitem_attachment_id_a427d7b3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_expenselineitem_attachment_id_a427d7b3 ON public.expenses_expenselineitem USING btree (attachment_id);


--
-- Name: expenses_expenselineitem_expense_record_id_5186b951; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_expenselineitem_expense_record_id_5186b951 ON public.expenses_expenselineitem USING btree (expense_record_id);


--
-- Name: expenses_expenserecord_current_approver_id_bf91ff8d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_expenserecord_current_approver_id_bf91ff8d ON public.expenses_expenserecord USING btree (current_approver_id);


--
-- Name: expenses_expenserecord_employee_id_dffec7a9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX expenses_expenserecord_employee_id_dffec7a9 ON public.expenses_expenserecord USING btree (employee_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_approval expenses_approval_approver_id_b11f069e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_approval
    ADD CONSTRAINT expenses_approval_approver_id_b11f069e_fk_auth_user_id FOREIGN KEY (approver_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_approval expenses_approval_expense_record_id_f56ea38c_fk_expenses_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_approval
    ADD CONSTRAINT expenses_approval_expense_record_id_f56ea38c_fk_expenses_ FOREIGN KEY (expense_record_id) REFERENCES public.expenses_expenserecord(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_approvalrule expenses_approvalrul_approver_id_2127e74b_fk_expenses_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_approvalrule
    ADD CONSTRAINT expenses_approvalrul_approver_id_2127e74b_fk_expenses_ FOREIGN KEY (approver_id) REFERENCES public.expenses_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_attachment expenses_attachment_email_id_45c0212d_fk_expenses_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_attachment
    ADD CONSTRAINT expenses_attachment_email_id_45c0212d_fk_expenses_ FOREIGN KEY (email_id) REFERENCES public.expenses_emailmessage(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_attachment expenses_attachment_expense_record_id_2f9bba6f_fk_expenses_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_attachment
    ADD CONSTRAINT expenses_attachment_expense_record_id_2f9bba6f_fk_expenses_ FOREIGN KEY (expense_record_id) REFERENCES public.expenses_expenserecord(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_emailmessage expenses_emailmessag_employee_id_43f7883c_fk_expenses_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_emailmessage
    ADD CONSTRAINT expenses_emailmessag_employee_id_43f7883c_fk_expenses_ FOREIGN KEY (employee_id) REFERENCES public.expenses_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_emailmessage expenses_emailmessag_expense_record_id_c989bffa_fk_expenses_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_emailmessage
    ADD CONSTRAINT expenses_emailmessag_expense_record_id_c989bffa_fk_expenses_ FOREIGN KEY (expense_record_id) REFERENCES public.expenses_expenserecord(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_employee expenses_employee_manager_id_dad8cd9f_fk_expenses_employee_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_employee
    ADD CONSTRAINT expenses_employee_manager_id_dad8cd9f_fk_expenses_employee_id FOREIGN KEY (manager_id) REFERENCES public.expenses_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_employee expenses_employee_user_id_bae1e8e9_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_employee
    ADD CONSTRAINT expenses_employee_user_id_bae1e8e9_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_expenselineitem expenses_expenseline_attachment_id_a427d7b3_fk_expenses_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_expenselineitem
    ADD CONSTRAINT expenses_expenseline_attachment_id_a427d7b3_fk_expenses_ FOREIGN KEY (attachment_id) REFERENCES public.expenses_attachment(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_expenselineitem expenses_expenseline_expense_record_id_5186b951_fk_expenses_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_expenselineitem
    ADD CONSTRAINT expenses_expenseline_expense_record_id_5186b951_fk_expenses_ FOREIGN KEY (expense_record_id) REFERENCES public.expenses_expenserecord(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_expenserecord expenses_expensereco_current_approver_id_bf91ff8d_fk_expenses_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_expenserecord
    ADD CONSTRAINT expenses_expensereco_current_approver_id_bf91ff8d_fk_expenses_ FOREIGN KEY (current_approver_id) REFERENCES public.expenses_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: expenses_expenserecord expenses_expensereco_employee_id_dffec7a9_fk_expenses_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.expenses_expenserecord
    ADD CONSTRAINT expenses_expensereco_employee_id_dffec7a9_fk_expenses_ FOREIGN KEY (employee_id) REFERENCES public.expenses_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict SMhvl2IecMCUU1W3y6YTgtgD6EMxR6pSt4KMNsfFfupSbWO9c88EVDbXEzpE3WN

